
<h1> 99 Cats! </h1>
<%= link_to "Add new cat!", new_cat_url %>
<% @cats.each do  |cat| %>
  <h2><%= link_to cat.name, cat_url(cat) %></h2>

  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Age</td>
      <td> <%= cat.age %> </td>
    </tr>
    <tr>
      <td>Birth Date</td>
      <td> <%= cat.birth_date %> </td>
    </tr>
    <tr>
      <td>Color</td>
      <td> <%= cat.color %> </td>
    </tr>
    <tr>
      <td>Sex</td>
      <td> <%= cat.sex %> </td>
    </tr>
    <tr>
      <td>Description</td>
      <td> <%= cat.description %> </td>
    </tr>
  </table>
<% end %>
